In [2]:
import csv

# Chemin du fichier
file_path = "Dataset_Init.csv"

# Les titres que vous souhaitez ajouter
headers = ["target", "ids", "date", "flag", "user", "text"]

# Lire les données existantes
with open(file_path, "r", encoding="utf-8") as file:
    data = file.readlines()

# Écrire les titres et ajouter les anciennes données
with open(file_path, "w", encoding="utf-8") as file:
    # Ajouter les titres
    file.write(",".join(headers) + "\n")
    # Ajouter les anciennes données
    file.writelines(data)

In [3]:
import pandas as pd

# Charger le fichier CSV dans un DataFrame
df = pd.read_csv('Dataset_Init.csv')

# Sélectionner 20 lignes aléatoires
random_rows = df.sample(n=20)

# Afficher les lignes sélectionnées
display(random_rows)

,target,ids,date,flag,user,text
875739,4,1680848782,Sat May 02 12:38:14 PDT 2009,NO_QUERY,xniffyx,@JediMistySpice I got your package!!! OMG than...
266146,0,1988938452,Sun May 31 23:49:52 PDT 2009,NO_QUERY,jiggawoot,Finally home after a bloody long day at work. ...
427736,0,2063791417,Sun Jun 07 04:05:22 PDT 2009,NO_QUERY,dominickmoya,Awww. I lost 3 followers. Got a full bottle o...
957436,4,1825461178,Sun May 17 05:46:58 PDT 2009,NO_QUERY,jodiess,@spencerpratt can I get Heidis #???
1485065,4,2067798005,Sun Jun 07 12:58:47 PDT 2009,NO_QUERY,ucfree,Let's see if I can get out for some Macys shop...
656344,0,2240411260,Fri Jun 19 09:42:50 PDT 2009,NO_QUERY,sk8rfish,@eman1110 I wish I could fall asleep that quic...
1040466,4,1956952937,Thu May 28 23:06:56 PDT 2009,NO_QUERY,Isaaatje,@petteflet lol you are right. i have mixed you...
1514276,4,2175459085,Mon Jun 15 01:02:44 PDT 2009,NO_QUERY,deKay01,"@ahrenfelt Yes, but what about those left glui..."
593776,0,2218327147,Wed Jun 17 22:16:48 PDT 2009,NO_QUERY,clubbeats_blog,"Now time to eat, more drinks and more gambling..."
1385191,4,2052726912,Sat Jun 06 01:47:15 PDT 2009,NO_QUERY,JORdashEL,My night = better than the love pentagon's ni...
900498,4,1694053098,Mon May 04 00:52:32 PDT 2009,NO_QUERY,PamsLove,@deepbluesealove Yeah it was great to be outsi...
1157484,4,1979183608,Sun May 31 01:58:34 PDT 2009,NO_QUERY,shygirl85,oye its hot in room ...need a fan.......ice co...
489398,0,2182966827,Mon Jun 15 13:52:17 PDT 2009,NO_QUERY,Muriel_LZ,DO NOT TWEET film locations @TwilightilDawn -&...
1027734,4,1932497977,Tue May 26 21:35:21 PDT 2009,NO_QUERY,dontbreatheair,Watching the food network. Searching for a job.
1562163,4,2186765763,Mon Jun 15 19:18:19 PDT 2009,NO_QUERY,Aboundlessworld,I couldn't be happier
221872,0,1976913300,Sat May 30 19:32:24 PDT 2009,NO_QUERY,GoldCoastDiva,"@GoldCoastDiva First the Nuggets, now the Cava..."
365120,0,2048441849,Fri Jun 05 15:12:18 PDT 2009,NO_QUERY,LilBit0318,"@ShawneyJ : Know exactly how ya feel, too. Got..."
965911,4,1827649351,Sun May 17 11:09:23 PDT 2009,NO_QUERY,pauloricleite,@lilyroseallen SOOOO CUTE!
1175345,4,1981087063,Sun May 31 08:23:11 PDT 2009,NO_QUERY,The_Book_Thief,Cannot wait to see David at 3 and have all day...
852503,4,1572982400,Mon Apr 20 23:15:33 PDT 2009,NO_QUERY,3djay,Say hello to my little friend. - http://mobyp...

In [2]:
import pandas as pd

# Charger le fichier CSV dans un DataFrame
df = pd.read_csv('Dataset_Init.csv')

# Afficher les statistiques descriptives
display(df.describe(include='all'))

# Afficher les valeurs manquantes
display(df.isnull().sum())

,target,ids,date,flag,user,text
count,1.600000e+06,1.600000e+06,1600000,1600000,1600000,1600000
unique,NaN,NaN,774363,1,659775,1581466
top,NaN,NaN,Mon Jun 15 12:53:14 PDT 2009,NO_QUERY,lost_dog,isPlayer Has Died! Sorry
freq,NaN,NaN,20,1600000,549,210
mean,2.000000e+00,1.998818e+09,NaN,NaN,NaN,NaN
std,2.000001e+00,1.935761e+08,NaN,NaN,NaN,NaN
min,0.000000e+00,1.467810e+09,NaN,NaN,NaN,NaN
25%,0.000000e+00,1.956916e+09,NaN,NaN,NaN,NaN
50%,2.000000e+00,2.002102e+09,NaN,NaN,NaN,NaN
75%,4.000000e+00,2.177059e+09,NaN,NaN,NaN,NaN
max,4.000000e+00,2.329206e+09,NaN,NaN,NaN,NaN

target    0
ids       0
date      0
flag      0
user      0
text      0
dtype: int64